body {
    background: #00002a;
    color: white;
    font-family: 'Helvetica Neue';
}

h1 {
    font-family: menlo, 'Courier New';
    text-align: center;
}

/* #canvas {
    width: 960px;
    height: 540px;
    max-width: 960px;
    max-height: 540px;
    border: 1px black solid;
} */

#canvasDiv {
    width: fit-content;
    margin: auto;
}